mixin video(video)
    a(href=`/videos/${video.id}`)
        div.video_mixin
        div.video-mixin_thumb
        div.video-mixin_data
          span.video-mixin_title=video.title
          div.video-mixin_meta
            span #{video.owner.name} •
            span #{video.meta.views}
