.video-mixin {
    .video-mixin_thumb {
      height: 150px;
      border-radius: 7px;
      width: 100%;
      background-color: ivory;
    }
    .video-mixin_data {
      padding:0px 15px;
      .video-mixin_title {
        font-size: 18px;
        display: block;
        margin-top: 10px;
      }
      .video-mixin_meta {
          margin-top: 5px;
          font-size: 12px
      }
    }
  }