extends base 

block content 
    if errorMessage 
        span=errorMessage
    form(method="post")
        input(placeholder="Old password", name="oldPassword")
        input(placeholder="New Password", name="newPassword")
        input(placeholder="New Password Confirmation", name="newPassword1")
        input(value="change Password", type="submit")